<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>画板</title>
	<link rel="stylesheet" href="style.css">
	<script src="lib/jquery-3.1.0.js"></script>
	<script src="lib/vue.min.js"></script>
</head>
<body>
<div id="drawing-board-page">
	<header>
		<div class="current-tool">
			<i :class="currentTool"></i>
			<input type="hidden" name="currentTool" v-model="currentToolNum">
		</div>
		<ul class="tool-info clearfix">
			<li class="lineWidth">
				<p>线条宽度:</p>
				<input type="number" name="lineWidth" v-model="lineWidth" v-on:input="bindLineWidth($event)">
			</li>
			<li class="color">
				<p>颜色:</p>
				<div class="color-box">
					<div class="color-value"
						 :style="{backgroundColor: '#'+pageColor}"
						 @click="clickPopupColorShow()"
						 v-cloak></div>
				</div>
			</li>
			<li class="alpha">
				<p>透明度:</p>
				<div class="select-alpha-box">
					<input type="text" name="alpha">
					<div class="select-alpha">
						<div class="slash leftSlash"></div>
						<div class="slash rightSlash"></div>
					</div>
				</div>
				<div class="select-alpha-slider">
					<div class="slider-axis">
						<div class="slider-axis-trangle"></div>
					</div>
				</div>
			</li>
		</ul>
	</header>
	<main class="clearfix">
		<ul class="tools clearfix">
			<li v-for="(tool,index) in tools"
				:data-tool="tool.dataTool"
				:class="{'active':index==selectedToolIndex}">
				<i :class="tool.toolClass"
				   @click.self="selectTool(tool,index)">
				</i>
			</li>
		</ul>
		<input id="select-tool" type="hidden" value="1">
		<canvas id="drawing-board" width="862" height="400"></canvas>
	</main>
	<!--公用透明背景遮罩，作用：防止其他元素相应事件-->
	<div class="tr-bk" v-if="trBk" v-cloak></div>

	<div class="popup-color" v-if="popupColorShow" v-cloak>
		<div class="title">颜色选择器</div>
		<div class="content">
			<div class="left">
				<ul class="alternative-color">
					<li v-for="color in colors"
						:style="{backgroundColor: color}"
						@click="selectColor($event)"></li>
				</ul>
			</div>
			<div class="divider"></div>
			<div class="right">
				<div class="color-show-box clearfix">
					<div class="color-show">
						新的
						<div class="color-contrast">
							<div class="new-color" :style="{backgroundColor:'#'+newColor}"></div>
							<div class="current-color" :style="{backgroundColor:'#'+pageColor}"></div>
						</div>
						当前
					</div>
					<div class="color-show-btns">
						<a href="javascript:;" class="confirm" @click="colorConfirm()">确定</a>
						<a href="javascript:;" class="cancel" @click="colorCancel()">取消</a>
					</div>
				</div>
				<div class="color-setting clearfix">
					<div class="rgb-color clearfix">
						<ul>
							<li class="clearfix">
								<p>R:</p>
								<input type="text" name="R-color" maxlength="3" v-model="RColor"
									   v-on:input="bindRColor($event)">
							</li>
							<li class="clearfix">
								<p>G:</p>
								<input type="text" name="G-color" maxlength="3" v-model="GColor"
									   v-on:input="bindGColor($event)">
							</li>
							<li class="clearfix">
								<p>B:</p>
								<input type="text" name="B-color" maxlength="3" v-model="BColor"
									   v-on:input="bindBColor($event)">
							</li>
						</ul>
					</div>
					<div class="hex-color clearfix">
						<p>16进制值：</p>
						<div class="hex-color-setting"><p>#</p><input type="text" name="hex-color" v-model="newColor"
																	  maxlength="6" v-on:input="bindHex($event)"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="main.js"></script>
</body>
</html>